:root{
  --vermelho: #e50914;
  --preto: #141414;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #fff;
  background: var(--preto);
  font-family: 'Times New Roman', Times, serif;
}

header .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo{
  margin-left: 5px;
  color: var(--vermelho);
  font-family: "Gotham";
  font-size: 60px;
}

header nav a{
  font-size: 25px;
  margin-inline: 12px;
  text-decoration: none;
  color: #AAA;
}

header nav a:hover{
  color: #fff;
}

.filme-principal{
  font-size: 16px;
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/T_R.jpg');
  height: 70vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
} 

.filme-principal .descricao{
  width: 50%;
  margin-left: 15px;
  margin-bottom: 40px;
  text-align: left;
}

.titulo{
  margin-top: 15%;
  margin-left: 15px;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botao{
  margin-left: 15px;
  background-color: rgba(0,0,0,.50);
  border: none;
  color: var(--vermelho);
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: .6s ease all;
}

.botao:hover{
  color: #fff;
  background-color: var(--vermelho);
}

.botao i{
  margin-right: 8px;
}

.box_filme{
  width: 100%;
  height: 100%;
  display: block;
}

.carrossel-filmes{
  margin-top: 5px;
}

@media screen and (max-width:700px) {
  header .container{
    display: flex;
    flex-direction: column;
  }

  .botao{
    margin-top: 5px;
    width: 300px;
  }
}
@media screen and (max-width:1000px) {
  .descricao{
    width: 50%;
  }
}